
<div class="main">
        <div style="align-items: center; justify-content: center;">

            <form [formGroup]="clinicDetialsForm">
                 
                <mat-form-field appearance="fill" color= "primary">
                    <mat-label>Doctor's Name</mat-label>
                    <input matInput type="text" class="fullwidth" name="doctorsName" formControlName="doctorsNameControl" required>
                </mat-form-field>

                <mat-form-field appearance="fill" color= "primary">
                    <mat-label>Doctor's Contact Number</mat-label>
                    <input matInput type="number" class="fullwidth" name="doctorsContact" formControlName="doctorsContactControl" required>
                </mat-form-field>
        
                
                <mat-form-field appearance="fill" color= "primary">
                    <mat-label>Vehicle Number</mat-label>
                    <input matInput type="text" class="fullwidth" name="vehicleNumber" formControlName="vehicleNumberControl" required>
                </mat-form-field>

                <mat-form-field appearance="fill" color= "primary">
                    <mat-label>Drivers Name</mat-label>
                    <input matInput type="text" class="fullwidth" name="driverName" formControlName="driverNameControl" required>
                </mat-form-field>

                <mat-form-field appearance="fill" color= "primary">
                    <mat-label>Drivers Contact</mat-label>
                    <input matInput type="number" class="fullwidth" name="driversContact" formControlName="driversContactControl" required>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Enter Zones</mat-label>
                    <input matInput type="text" class="fullwidth" name="zones" formControlName="zonesControl" required>
                </mat-form-field> 
                
                

               </form>
            
        </div>

        <div>
            <button mat-fab (click)="startLocationShare()" > 
                <mat-icon >play_arrow</mat-icon> 
            </button>
            
            <button mat-fab (click)="stopLocationShare()" > 
                <mat-icon>stop</mat-icon>
            </button>
        </div>
        <br>
        <br>
        <div *ngIf = "dispalyFluClinicLocation">
            Flu Clinic Location
            <table>
                <tr>
                    <td>Latitude: </td> <td>{{latitude}}</td>
                </tr>
                <tr>
                    <td>Longitude: </td> <td>{{longitude}}</td>
                </tr>
                <tr>
                    <td>Accracy: </td> <td>{{accuracy}} metres</td>
                </tr>
            </table>
        </div>

</div>





       
  